language: c++
compiler: gcc

before_install:
  - sudo apt-get update
  - sudo apt-get install -y libboost-dev libboost-system-dev libboost-thread-devlibboost-test-dev 
  - sudo apt-get install -y libsdl2-dev
  - sudo apt-get install -y cmake


before_script:
   - mkdir build
   - cd build
   - cmake ..

script: 
   - make
